body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.data {
	margin: 20px;
	width: 10%;
	float: left;
}

#chartlocations {
	width: 80%;
	float: right;
}
