body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.data {
	margin: 20px;
	width: 200px;
	float: left;
}

#chartcategories {
	width: 1200px;
	height: 600px;
	float: right;
	margin: 20px;
}

#chartlocations {
	width: 1200px;
	height: 600px;
	float: right;
	margin: 20px;
}
